In [1]:
import yfinance as yf
import pandas as pd
from datetime import datetime
import os
from time import sleep
from dateutil.relativedelta import relativedelta
import sklearn as sk
from sklearn.preprocessing import StandardScaler
import seaborn as sns

In [2]:
import backtest as bt

In [3]:
%%time
start_date = '2019-01-01'
snp = bt.build_snp(start_date)
bt.get_data(snp) # 5min 17s with get_new = True

CPU times: user 17.4 ms, sys: 124 µs, total: 17.5 ms
Wall time: 16.8 ms

In [4]:
%%time
# bt.build_data('1mo') 3min 16s

CPU times: user 2 µs, sys: 0 ns, total: 2 µs
Wall time: 4.53 µs

In [5]:
port_params = {
    'tickers': snp, 
    'interval': '1d', 
    'hist_depth': 5, 
    'train_depth': 5, 
    'features': ['Close', 'Volume']
}

port = bt.Backtest(**port_params)

In [6]:
tickers = port.tickers
d = port.portfolio

In [7]:
d['AAPL'].index

DatetimeIndex(['2000-01-03', '2000-01-04', '2000-01-05', '2000-01-06',
               '2000-01-07', '2000-01-10', '2000-01-11', '2000-01-12',
               '2000-01-13', '2000-01-14',
               ...
               '2020-10-16', '2020-10-19', '2020-10-20', '2020-10-21',
               '2020-10-22', '2020-10-23', '2020-10-26', '2020-10-27',
               '2020-10-28', '2020-10-29'],
              dtype='datetime64[ns]', name='Date', length=5241, freq=None)

In [20]:
start = '2000-01-01'
ticker = 'AAPL'
interval = '1d'

In [ ]:
ticker_label = ticker + '.csv'
prefix = interval + '/'
data_path = 'random/'

temp_ticker = yf.Ticker(ticker)
temp_hist = temp_ticker.history(start=start, interval=interval)
temp_hist.reset_index(inplace=True)
temp_hist.dropna(axis=0, inplace=True)

In [21]:
temp_hist = temp_hist.set_index('Date')

In [22]:
temp_hist.to_csv(data_path + prefix + ticker_label)

In [25]:
pd.read_csv(data_path + prefix + ticker_label)

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2000-01-03,0.81,0.87,0.78,0.86,535796800,0.0,0.0
1,2000-01-04,0.84,0.85,0.78,0.79,512377600,0.0,0.0
2,2000-01-05,0.80,0.85,0.79,0.80,778321600,0.0,0.0
3,2000-01-06,0.82,0.83,0.73,0.73,767972800,0.0,0.0
4,2000-01-07,0.74,0.78,0.74,0.77,460734400,0.0,0.0
...,...,...,...,...,...,...,...,...
5236,2020-10-23,116.39,116.55,114.28,115.04,82572600,0.0,0.0
5237,2020-10-26,114.01,116.55,112.88,115.05,111850700,0.0,0.0
5238,2020-10-27,115.49,117.28,114.54,116.60,92276800,0.0,0.0
5239,2020-10-28,115.05,115.43,111.10,111.20,143525000,0.0,0.0
5240,2020-10-29,112.37,116.93,112.28,115.32,123333649,0.0,0.0

In [26]:
pd.read_csv('data/' + prefix + ticker_label)

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2000-01-03,0.81,0.87,0.78,0.86,535796800,0.0,0.0
1,2000-01-04,0.84,0.85,0.78,0.79,512377600,0.0,0.0
2,2000-01-05,0.80,0.85,0.79,0.80,778321600,0.0,0.0
3,2000-01-06,0.82,0.83,0.73,0.73,767972800,0.0,0.0
4,2000-01-07,0.74,0.78,0.74,0.77,460734400,0.0,0.0
...,...,...,...,...,...,...,...,...
5236,2020-10-23,116.39,116.55,114.28,115.04,82572600,0.0,0.0
5237,2020-10-26,114.01,116.55,112.88,115.05,111850700,0.0,0.0
5238,2020-10-27,115.49,117.28,114.54,116.60,92276800,0.0,0.0
5239,2020-10-28,115.05,115.43,111.10,111.20,143525000,0.0,0.0
5240,2020-10-29,112.37,116.93,112.28,115.32,123333649,0.0,0.0