In [1]:
%%time
# Author: Michael Djaballah
# Last edited 
# Last edited by: Michael Djaballah

import yfinance as yf
import pandas as pd
from datetime import datetime
import os
from time import sleep, time
from dateutil.relativedelta import relativedelta
import sklearn as sk
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from copy import deepcopy

CPU times: user 509 ms, sys: 41 ms, total: 550 ms
Wall time: 780 ms

In [2]:
bad = [
    'HOT', 
    'POM', 
    'GAS', 
    'COV'
]

In [3]:
from backtest import *

In [4]:
hist_depth = 3
train_depth = 3
features = ['Close', 'Volume']
start_date = '2015-01-01'
end_date = '2019-12-01'
params = {
    'long' : 20, 
    'short' : 0
}

In [8]:
%%time
port = build_portfolio(bad, hist_depth, train_depth)

CPU times: user 8.52 ms, sys: 13 Âµs, total: 8.54 ms
Wall time: 7.79 ms

In [13]:
port['COV'].tail(60)

          Date  Open  High   Low  Close  Volume
36  2015-06-01  0.04  0.04  0.04   0.04       0
37  2015-07-01  0.04  0.04  0.04   0.04       0
38  2015-08-01  0.04  0.04  0.04   0.04       0
39  2015-09-01  0.04  0.04  0.04   0.04  100000
40  2015-10-01  0.04  0.04  0.04   0.04       0
41  2015-11-01  0.04  0.04  0.04   0.04       0
42  2015-12-01  0.04  0.04  0.04   0.04       0
43  2016-01-01  0.04  0.04  0.04   0.04       0
44  2016-02-01  0.04  0.04  0.04   0.04       0
45  2016-03-01  0.04  0.04  0.04   0.04       0
46  2016-04-01  0.04  0.04  0.04   0.04       0
47  2016-05-01  0.04  0.04  0.04   0.04       0
48  2016-06-01  0.04  0.04  0.04   0.04       0
49  2016-07-01  0.04  0.04  0.04   0.04       0
50  2016-08-01  0.04  0.04  0.04   0.04       0
51  2016-09-01  0.04  0.04  0.04   0.04       0
52  2016-10-01  0.04  0.04  0.04   0.04       0
53  2016-11-01  0.04  0.04  0.04   0.04       0
54  2016-12-01  0.04  0.04  0.04   0.04  100000
55  2017-01-01  0.04  0.04  0.04   0.04       0
56  2017-02-01  0.04  0.04  0.04   0.04       0
57  2017-03-01  0.04  0.04  0.04   0.04       0
58  2017-04-01  0.04  0.04  0.04   0.04       0
59  2017-05-01  0.04  0.04  0.04   0.04       0
60  2017-06-01  0.04  0.04  0.04   0.04       0
61  2017-07-01  0.04  0.04  0.04   0.04       0
62  2017-08-01  0.04  0.04  0.04   0.04       0
63  2017-09-01  0.04  0.04  0.04   0.04       0
64  2017-10-01  0.04  0.04  0.04   0.04       0
65  2017-11-01  0.04  0.04  0.04   0.04       0
66  2017-12-01  0.04  0.04  0.04   0.04       0
67  2018-01-01  0.04  0.04  0.04   0.04       0
68  2018-02-01  0.04  0.04  0.04   0.04       0
69  2018-03-01  0.04  0.04  0.04   0.04       0
70  2018-04-01  0.04  0.04  0.04   0.04       0
71  2018-05-01  0.04  0.04  0.04   0.04       0
72  2018-06-01  0.04  0.04  0.04   0.04       0
73  2018-07-01  0.04  0.04  0.04   0.04       0
74  2018-08-01  0.04  0.04  0.04   0.04       0
75  2018-09-01  0.04  0.04  0.04   0.04       0
76  2018-10-01  0.04  0.04  0.04   0.04       0
77  2018-11-01  0.04  0.04  0.04   0.04       0
78  2018-12-01  0.04  0.04  0.04   0.04       0
79  2019-01-01  0.04  0.04  0.04   0.04       0
80  2019-02-01  0.04  0.04  0.04   0.04       0
81  2019-03-01  0.04  0.04  0.04   0.04       0
82  2019-04-01  0.04  0.04  0.04   0.04       0
83  2019-05-01  0.04  0.04  0.04   0.04       0
84  2019-06-01  0.04  0.04  0.04   0.04       0
85  2019-07-01  0.04  0.04  0.04   0.04       0
86  2019-08-01  0.04  0.04  0.04   0.04       0
87  2019-09-01  0.04  0.04  0.04   0.04       0
88  2019-10-01  0.04  0.04  0.04   0.04       0
89  2019-11-01  0.04  0.04  0.04   0.04       0
90  2019-12-01  0.04  0.04  0.04   0.04       0
91  2020-01-01  0.04  0.04  0.04   0.04       0
92  2020-02-01  0.04  0.04  0.04   0.04       0
93  2020-03-01  0.04  0.04  0.04   0.04       0
94  2020-04-01  0.04  0.04  0.04   0.04       0
95  2020-05-01  0.04  0.04  0.04   0.04       0